<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>FunshiEngineGL</Name>
    <Version>0.5.0-alpha</Version>
    <Title>FunshiEngineGL Installer</Title>
    <Publisher>FunshiEngineGL</Publisher>

    <WizardStyle>Modern</WizardStyle>

    <TargetDir>@HomeDir@/Desktop/FunshiEngineGL</TargetDir>

    <MaintenanceToolName>FunshiEngineGLMaintenanceTool</MaintenanceToolName>
    <MaintenanceToolIniFile>FunshiEngineGLMaintenanceTool.ini</MaintenanceToolIniFile>

    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <AllowSpaceInPath>true</AllowSpaceInPath>
</Installer>
